@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme{
    --font-roboto: "Roboto", sans-serif;

    --color-primary: #2563EB;
  --color-success: #22C55E;
  --color-warning: #F59E0B;
  --color-danger: #EF4444;

  --color-background: #F8FAFC;
  --color-card: #FFFFFF;

  --color-text-dark: #0F172A;
  --color-text-gray: #64748B;
}

/* Dark Mode Overrides */
.dark {
  --color-background: #0B0F19;
  --color-card: #111827;
  --color-text-dark: #F9FAFB;
  --color-text-gray: #9CA3AF;
  color-scheme: dark;
}

/* Smooth transition for theme switching */
body {
  transition: background-color 0.3s ease, color 0.3s ease;
}